@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --text-color: black;
  --polygon-bg: rgba(226, 232, 240, 0.4);
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
  --polygon-bg: rgba(33, 29, 2, 0.43); /* darker shade for dark mode */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Ensure that text elements use the --text-color variable */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}
